﻿

ul.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.navbar-toggler {
    font-size: 3.50rem !important;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

nav.navbar.navbar-expand-lg.navbar-light {
    background: #ed135d;
}

.mbo-navigation-logo {
    border-bottom: 60px solid #ed135d;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link {
    font-size: 3em;
}

.dropdown-item {
    font-size: 2em;
}

.col-md-3.col-sm-4 {
    margin-top: -56px;
    margin-left: 10%;
}

.navbar-light {
    background-color: #ED135D;
    z-index: 1024;
}
/*css van elk landschapblokje*/
.card {
    margin-top: 5%;
    border-radius: 0px;
    border-bottom: 10px solid #a9cf3;
}

.card-title {
    font-size: 22px;
    color: #333;
    line-height: 1.25;
    /*padding: 28px 20px;*/
    margin-top: 7px;
}

.card-body {
    height: 83px;
    border-bottom: 12px solid #a9cf39;
    width: 100%;
}
/*css van de img in het blokje*/
.card-img-top {
    border-radius: 0px;
}

p {
    font-size: 26px;
    color: #287695;
    font-family: "aaux_next_widebold";
    line-height: 1;
    padding-bottom: 32px;
    font-weight: bold;
    text-align: center;
}
.col-sm-12{
    height: 40%;
}

