﻿.heading-text {
    color: #287695;
    line-height: 1;
    padding-bottom: 32px;
    font-size: 26px;
    text-transform: none;
}

.label-text {
    color: #287695;
    line-height: 1;
    font-size: 19px;
    padding-bottom: 5px;
    text-transform: none;
    font-weight: 550;
}

.custom-select {
    font-size: 16px;
    display: block;
    width: 45%;
    height: 46px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #cedbe2;
    margin-bottom: 10px;
    color: #333;

}.custom-input {
    font-size: 16px;
    display: block;
    width: 45%;
    height: 46px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #cedbe2;
    margin-bottom: 10px;
    color: #333;
}

.custom-textarea {
    font-size: 16px;
    display: block;
    width: 45%;
    height: 90px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #cedbe2;
    margin-bottom: 20px;
    color: #333;
}

.custom-submit {
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    width: 180px;
    font-size: 14px;
    background-color: #fadc00;
    color: #333;
    transition: background-color .2s;
}

.line{
    border: #aaaaaa solid 1px;
}


