﻿/*css van elk landschapblokje*/
.card {
/*
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 0px;
*/
	margin-top: 20px !important;
    border-bottom: 10px solid #a9cf3;
}

.card-title {
    font-size: 22px;
    color: #333;
    line-height: 1.25;
    /*padding: 28px 20px;*/
    margin-top: 7px;
}

.card-body {
	padding-bottom: 0;
}

.card-footer {
	
    border-top: none;
	background-color: #ffffff;
    border-bottom: 12px solid #a9cf39;
    width: 100%;
}
/*css van de img in het blokje*/
.card-img-top {
    border-radius: 0px;
    
}
/*p {
    font-size: 26px;
    color: #287695;
    font-family: "aaux_next_widebold";
    line-height: 1;
    padding-bottom: 32px;
    font-weight: bold; 
}*/