﻿/*zorgt voor de achtergrond kleur in de body*/
body {
    background-color: #f8f9fa;
}

/*zorg voor de img bij de header*/
#header-img {
	height: 400px;
	text-align: center;
	overflow: hidden;
	display: block;
	margin-top: 56px;
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
}

}

/*zorg voor de img bij de header*/
#header-img > img {
	min-width: 100%;
	height: auto;
	min-height: 100%;
	object-fit: cover;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*zorgt voor de afstand tussen het menu en de rest*/
.container {
    margin-top: 10% !important;
}

/*afstand van de linkerkant van de tekst in het menu*/
ul.navbar-nav {
    margin-left: 10%;
    color: #ffffff;
}

/*kleur menubalk*/
nav.navbar.navbar-expand-lg.navbar-light {
    background: #2dd9ed;
}

/*border van het logo*/
.mbo-navigation-logo {
    border-bottom: 60px solid #ed135d;
}

.mbo-navigation-logo img{
    width: 200px;

}

/*kleur tekst in menubalk*/
.nav-link {
    color: #ffffff !important;
}

/*css van logo in menubalk*/
.col-md-3.col-sm-4.logo {
    margin-left: 75%;
    margin-right: 10px;
    position: fixed;
    z-index: 1040;
    top: 0;
}

/*foto in homepage*/
.carousel {
    position: relative;
    width: 152%;
    left: -26%;
}

/*css voor de tekst in de homepage*/
.tekstdesign {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 8%;
    color: #287695;
}

/*zorgt voor hoe groot de tekst is in de homepage*/
.teksthome {
    font-size: 130%;
    line-height: 1.5;
    margin-top: 20px;
}

.hide {
    display: none;
}

/* css voor een specifieke opleiding of landschap */
.header-img {
    height: 300px;
    text-align: center;
    overflow: hidden;
    display: block;
    margin-top: 56px;
}

 /*zorg voor de img bij de header*/
.header-img > img {
    min-width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* css voor login pagina */
#loginform {
    display: block;
    position: center;
    margin: auto;
    width: 30%;
}


#logintitel {
    padding: 0px 0px 15px 0px;
}


#submitlogin {
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    width: 140px;
    font-size: 14px;
    background-color: #fadc00 !important;
    color: #333;
    transition: background-color .2s;
}

.loginlabel {
    display: inline-block;
    color: #287695 !important;
    font: bold;
}

.logininput {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 46px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #cedbe2;
    color: #333;
}

/* css voor registratie pagina */
#registerform {
    display: block;
    position: center;
    margin: auto;
    width: 30%;
}

#registertitel {
    padding: 0px 0px 15px 0px;
}

#registersubmit {
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    width: 140px;
    font-size: 14px;
    background-color: #fadc00 !important;
    color: #333;
    transition: background-color .2s;
}

.registerlabel {
    display: inline-block;
    color: #287695 !important;
    font: bold;
}

.registerinput {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 46px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #cedbe2;
    color: #333;
}

/*knop voor nieuwe landschap*/
.nieuwLandschapKnop {
    margin-bottom: 3%;
}

/*zorgt voor een lettertype bij een titel*/
.titelcss {
    font-family: sans-serif;
}

/*zorgt voor afstand van de bodem per pagina*/
.container {
	margin-bottom: 150px;
}

.generate_password{
    cursor: pointer;
}