﻿

ul.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}
.navbar-toggler {
    font-size: 3rem !important;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;

}



nav.navbar.navbar-expand-lg.navbar-light {
    background: #44defd;
}

.mbo-navigation-logo {
    border-bottom: 60px solid #ed135d;
}

.nav-link {
    color: #ffffff !important;
    font-size: 1.5em;
}

.container {
    margin-top: 100px;
}
/*.nav-link{
    font-size: 3em;
}
.dropdown-item{
    font-size: 2em;
}
    */

.col-md-3.col-sm-4 {
    margin-top: -56px;
    margin-left: 10%;
}
.button5 {
   
    border-radius: 50%;
    background-color: #ED135D;
    border: none;
    color: white;
    padding: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
/*    margin: 4px 2px;
    margin-top: 55%;
    margin-left: 30%;
    margin-right: 30%;
    */
}

#button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#QRtitel {
    /*    text-align: center;
    position: absolute;
    font-size: 4em;
    padding-top: 36%;
    margin-left: 29%;
    margin-right: 25%;
    */
    margin-bottom: 30px;
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.navbar-light {
    background-color: #44defd;
    z-index: 1024;
}

#cube {
    width: 400px;
    height: 400px;

    border: 30px solid rgba(77,77,77, 0.2);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#exit_button {
    background-color: #ED135D;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 300px;
    height: 80px;
    transform: translate(-50%, -50%);
    border-radius: 35px;
}

#landschappen{
    margin-bottom: 15px;
}

.card-title {
    font-size: 22px;
    color: #333;
    line-height: 1.25;
    /*padding: 28px 20px;*/
    margin-top: 7px;
}

/*css van de img in het blokje*/
.card-img-top {
    border-radius: 0px;
}

.card-deck a {
    text-decoration: none;
}
.card-deck a:hover {
    text-decoration: none;
}


#BlogText {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}
#titelblog {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding-bottom: 5%;
    padding-top: 5%;
    font-weight: bold;
}

.col-sm-12 {
    height: 40%;
}

.headerimg {
    padding-top: 10%;
    height: auto;
    width: 100vw;
    left: 0;
}

#header-img {
    height: 300px;
    text-align: center;
    overflow: hidden;
    display: block;
    margin-top: 86px;
}

    #header-img > img {
        min-width: 100%;
        height: auto;
        min-height: 100%;
        object-fit: cover;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

#FixedFooter {
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    display: block;
    width: 100vw;    
}

    #FixedFooter > p {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 2rem;
        text-align: center;
    }

    #BlogText {
        margin-bottom: 85px;
    }

.card-footer {
    border-top: none;
    background-color: #ffffff;
    border-bottom: 12px solid #a9cf39;
    width: 100%;
}

/*css van elk landschapblokje*/
.card {
    /*
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 0px;
*/
    margin-top: 20px !important;
    border-bottom: 10px solid #a9cf3;
}

.card-title {
    font-size: 22px;
    color: #333;
    line-height: 1.25;
    /*padding: 28px 20px;*/
    margin-top: 7px;
}

.card-body {
    padding-bottom: 0;
}

.card-footer {
	
    border-top: none;
    background-color: #ffffff;
    border-bottom: 12px solid #a9cf39;
    width: 100%;
}
/*css van de img in het blokje*/
.card-img-top {
    border-radius: 0px;
    
}

#dashtitle2 {
    font-size: 3.5rem;
    color: black;
    margin-top: 5%;
    margin-bottom: -3%;
}

.dashtitle {
    font-size: 10em;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    display: inline-block;
    margin-left: 10%;
}
.fa.fa-users.fa-5x {
    padding: 7%;
    border-radius: 23px;
    margin-left: -40%;
    background-color: #136bf1;
    padding: 7%;
    border-radius: 23px;
    margin-left: -41%;
    box-shadow: -25px 32px 1px -5px rgba(21, 80, 214, 0.33);
}

.far.fa-calendar-alt {
    padding: 7%;
    border-radius: 23px;
    margin-left: -40%;
    background-color: #ffd402;
    padding: 7%;
    border-radius: 23px;
    margin-left: -65%;
    box-shadow: -25px 32px 1px -5px rgba(255, 224, 0, 0.33);
}
.fas.fa-chess.fa-5x {
    background-color: red;
    padding: 7%;
    border-radius: 23px;
    margin-left: -55%;
    background-color: #ff3a3a;
    padding: 7%;
    border-radius: 23px;
    margin-left: -55%;
    box-shadow: -25px 32px 1px -5px rgba(255, 0, 0, 0.36);
}
.fas.fa-user.fa-5x {
    padding: 7%;
    border-radius: 23px;
    margin-left: -40%;
    background-color: #37cc5e;
    padding: 7%;
    border-radius: 23px;
    margin-left: -67%;
    box-shadow: -25px 32px 1px -5px rgba(30, 193, 80, 0.37);
}

#dashtitle2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.Dashtile {
    font-size: 1.75rem;
    background: #fff;
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 5px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-bottom: -2%;
    margin-top: 7%;
    font-family: 'Montserrat',;
    -webkit-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
}
.Dashtile2 {
    font-size: 1.75rem;
    background: #fff;
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 5px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-bottom: -2%;
    margin-top: 7%;
    font-family: 'Montserrat',;
    -webkit-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
}
.Dashtile3 {
    font-size: 1.75rem;
    background: #fff;
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 5px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-bottom: -2%;
    margin-top: 7%;
    font-family: 'Montserrat',;
    -webkit-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
}
.Dashtile4 {
    font-size: 1.75rem;
    background: #fff;
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 5px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-bottom: -2%;
    margin-top: 7%;
    font-family: 'Montserrat',;
    -webkit-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 26px 100px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #fff0;
    box-sizing: border-box;
    font-family: 'Montserrat',;
    font-size: 2em;
    background-color: #ffffff3b;
    border-radius: 23px;
}

#loginbutton {
    background-color: #dc3545;
    color: white;
    padding: 25px 32px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 100px !important;
    border-radius: 23px !important;
    font-size: 2em !important;
}

    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 360px;
}

.loginname {
    font-size: 2.2em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
img {
    vertical-align: middle;
    border-style: none;
    margin-left: 3.3%;
    margin-right: 6.5%;
}

.loginform {
    margin-top: 10px;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 23px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 160px;
    padding-top: 160px;
}

#groeilogo {
    width: 55%;
    margin-top: 12%;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

.background {
    background-image: url('../images/2.jpg');
}
@media only screen and (max-width: 600px) {
    #cube {
        width: 200px;
        height: 200px;
        border: 15px solid rgba(77,77,77, 0.2);
    }

    #exit_button {
        width: 200px;
        height: 60px;
        border-radius: 30px;
        font-size: 0.7rem;
    }

    #QRtitel {
        font-size: 2em;
    }

    .button5 {
        padding: 70px;
    }

    .navbar-toggler {
        font-size: 1rem !important;
    }
    #BlogTitel {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.7rem !important;
    }

    #BlogText {
        font-size: 1em;
    }

    #FixedFooter > p {
        font-size: 1em !important;
    }

    #header-img {
        margin-top: 50px !important;
    }


}
/*HTML VOOR USERLIST*/
.fas.fa-arrow-left.fa-5x {
    color: #ff0000b3;
    padding: 1%;
}


#user {
    width: 100% !important;
}
.table user-list{
    font-size: 2em !important;
}

.user-list tbody td > img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

/* TABLES */
.table {
    border-collapse: separate;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #eee;
}

.table thead > tr > th {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
}

.table tbody > tr > td {
    font-size: 0.875em;
    background: #f5f5f5;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 12px 8px;
}

    .table tbody > tr > td:first-child,
    .table thead > tr > th:first-child {
        padding-left: 20px;
    }

.table thead > tr > th span {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.table thead > tr > th > a span {
    color: #344644;
}

    .table thead > tr > th > a span:after {
        content: "\f0dc";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-left: 5px;
        font-size: 0.75em;
    }

.table thead > tr > th > a.asc span:after {
    content: "\f0dd";
}

.table thead > tr > th > a.desc span:after {
    content: "\f0de";
}

.table thead > tr > th > a:hover span {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
}

.table.table-hover tbody > tr > td {
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
}

.table tbody tr td .call-type {
    display: block;
    font-size: 0.75em;
    text-align: center;
}

.table tbody tr td .first-line {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125em;
}

    .table tbody tr td .first-line span {
        font-size: 0.875em;
        color: #969696;
        font-weight: 300;
    }

.table tbody tr td .second-line {
    font-size: 0.875em;
    line-height: 1.2;
}

.table a.table-link {
    margin: 0 5px;
    font-size: 1.125em;
}

    .table a.table-link:hover {
        text-decoration: none;
        color: #2aa493;
    }

    .table a.table-link.danger {
        color: #fe635f;
    }

        .table a.table-link.danger:hover {
            color: #dd504c;
        }

.table-products tbody > tr > td {
    background: none;
    border: none;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
    position: relative;
}

.table-products tbody > tr:hover > td {
    text-decoration: none;
    background-color: #f6f6f6;
}

.table-products .name {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
}

.table-products .price {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

    .table-products .price > i {
        color: #8dc859;
    }

.table-products .warranty {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

    .table-products .warranty > i {
        color: #f1c40f;
    }

.table tbody > tr.table-line-fb > td {
    background-color: #9daccb;
    color: #262525;
}

.table tbody > tr.table-line-twitter > td {
    background-color: #9fccff;
    color: #262525;
}

.table tbody > tr.table-line-plus > td {
    background-color: #eea59c;
    color: #262525;
}

.table-stats .status-social-icon {
    font-size: 1.9em;
    vertical-align: bottom;
}

.table-stats .table-line-fb .status-social-icon {
    color: #556484;
}

.table-stats .table-line-twitter .status-social-icon {
    color: #5885b8;
}

.table-stats .table-line-plus .status-social-icon {
    color: #a75d54;
}
/*EINDE HTML USERLIST*/

/*CSS VOOR PROFIEL*/

.blauwvak {
    height: 300px;
    background-color: #37cc5e;
    margin-top: -11%;
    margin-bottom: -10%;
}
.roodvak {
    height: 300px;
    background-color: #ff3a3a;
    margin-top: -11%;
    margin-bottom: -10%;
}
.groeigroepvak {
    height: 300px;
    background-color: #136bf1;
    margin-top: -11%;
    margin-bottom: 0%;
}
.profileheader{
    height 350px;
    margin-top: 0px;
    background-color: black;
}

.picturediv {
    font-size: 1.75rem;
    background: #fff;
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 5px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-bottom: 7%;
    margin-top: -4%;
    font-family: 'Montserrat',;
    -webkit-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
}

.informationdiv {
    font-size: 1.75rem;
    background: #fff;
    padding: 160px;
    text-align: center;
    color: white;
    font-size: 5px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-bottom: 7%;
    margin-top: 7%;
    font-family: 'Montserrat',;
    -webkit-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
}

.contactinfo {
    color: black;
    font-size: 7em;
    margin-left: -60%;
    font-family: 'Montserrat', sans-serif;
}
.contactinfo2 {
    color: black;
    font-size: 7em;
    margin-left: -96%;
    font-family: 'Montserrat', sans-serif;
}

.groeiinformation {
    font-size: 1.75rem;
    background: #fff;
    padding: 160px;
    text-align: center;
    color: white;
    font-size: 5px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-bottom: 7%;
    margin-top: 7%;
    font-family: 'Montserrat',;
    -webkit-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
}
.strategyinformatie {
    font-size: 1.75rem;
    background: #fff;
    padding: 160px;
    text-align: center;
    color: white;
    font-size: 5px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-bottom: 7%;
    margin-top: 7%;
    font-family: 'Montserrat',;
    -webkit-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
}

.targetinformation {
    font-size: 1.75rem;
    background: #fff;
    padding: 160px;
    text-align: center;
    color: white;
    font-size: 5px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-bottom: 7%;
    margin-top: 7%;
    font-family: 'Montserrat',;
    -webkit-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 54px 77px -12px rgba(0,0,0,0.39);
}

#headernaam {
    text-align: center;
    font-size: 10em;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#headerfunctie{
    text-align: center;
    font-size: 8em;
    color: black;
}

#informationdiv2 {
    text-align: center;
    font-size: 10em;
    color: black;
}
#contact {
    font-size: 3rem;
    color: #383232;
    text-align: left;
    margin-top: -23%;
    margin-left: -20%;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #28ce14;
    width: 595px;
}

.fas.fa-envelope.fa-5x {
    color: black;
    display: inline-block;
}

.fa.fa-phone.fa-5x {
    color: #080808;
    margin-left: -10%;
}

#contactinfo2 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    font-size: 11em;
    display: inline-block;
    margin-left: 4%;
}

#telicon {
    font-size: 2.5em;
    margin-left: -104%;
    margin-top: 10%;
}

#mailicon {
    font-size: 2.5em;
    margin-left: -10%;
    margin-top: 5%;
}

#doelen {
    font-size: 3rem;
    color: #383232;
    text-align: left;
    margin-top: -23%;
    margin-left: -20%;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #28ce14;
    width: 195px;
}

.doelinfo {
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    font-size: 7em;
    display: inline-block;
    margin-left: -40%;
}
.doelinfo2 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    font-size: 7em;
    display: inline-block;
    margin-left: -40%;
}
.pf {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: -30%;
    margin-bottom: 7%;
}


/*EINDE CSS PROFIEL*/

/*BEGIN CSS STRATEGIE*/

#strategie {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
    padding-top: 8%;
}



/*BEGIN CSS STRATEGIE*/

/*BEGIN CSS EVENTS*/
.geelvak {
    height: 300px;
    background-color: #ffd402;
    margin-top: -11%;
    margin-bottom: -10%;
}





/*EINDE CSS EVENTS*/
